@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,500&display=swap");
:root {
  --cinza: #d6d6d6ff;
  --amarelo-claro: #ffee32ff;
  --amarelo-escuro: #ffd100ff;
  --preto-escuro: #202020ff;
  --preto-claro: #333533ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--preto-escuro);
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--preto-escuro);
  user-select: none;
}

body::-webkit-scrollbar {
  width: 0.5vw;
}

header {
  background-color: var(--preto-escuro);
  padding-top: 1vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 14vh;
  padding: 0 10vw;
  flex-wrap: wrap;
}

header figure img {
  height: 6vh;
  cursor: pointer;
}

header #busca {
  position: relative;
  width: 35vw;
}

header #busca i {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
  color: var(--preto-claro);
}

header input {
  width: 100%;
  height: 4vh;
  border-radius: 5px;
  border: none;
  padding: 0 2.7rem 0 1rem;
  font-size: 1.3rem;
  outline: none !important;
  font-weight: 300;
  color: var(--preto-claro);
}

header i {
  color: #fff;
}

header a {
  font-size: 1.3rem;
  font-weight: 300;
  color: #fff;
  transition: 0.3s;
}

#menuSuperior div {
  transition: 0.3s;
  text-align: center;
}
#menuSuperior div i {
  margin-right: 0.7rem;
}

#menuSuperior div:hover {
  transform: scale(1.04);
}

header > i {
  font-size: 1.4rem;
  padding: 0.8rem;
  border-radius: 50%;
  transition: 0.3s;
}
header > i:hover {
  background-color: var(--preto-claro);
}
header > i:active {
  background-color: transparent;
}

nav {
  width: 100vw;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

nav li {
  display: inline;
  transition: 0.3s;
}

nav li:hover {
  background-color: var(--preto-claro);
  padding: 0.3rem 0.9rem;
  border-radius: 8px;
}

.clicavel {
  cursor: pointer;
  transition: 0.3s;
}
.clicavel:active {
  transform: scale(0.8);
}

.card-price {
  color: rgb(34, 34, 34);
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: 1.4rem;
}
