div .main {
  transition: margin-left 0.4s;
}

@media (max-width: 1200px) {
  div .main {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

main {
  width: 100vw;
  margin: auto;
  max-width: 1300px; 
  margin-top: 100px;
}

.conteudo {
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
}

div .padding_padrao,
.quarter {
  padding: 0 8px;
}

.admin_title {
  max-width: 1400px;
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 30px;
}

.filter-container {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 15px;
  text-align: center;
}

.admin_title p {
  margin-top: 15px;
}

.row_padding:after,
.row_padding:before {
  content: "";
  display: table;
  clear: both;
}

.center {
  text-align: center;
}

.admin_title h1 {
  font-size: 2em;
}