.product {
  margin: 10px 20px;
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.quarter {
  float: left;
  width: calc(24.9% - 40px);
}

div .padding_padrao,
.quarter {
  padding: 0 8px;
}

.product_description img{
  width: 100%;
}

.product:hover {
  transform: translateY(-9px);
  box-shadow: 3px 3px 5px rgba(255, 208, 0, 0.206);
}

.product_img {
  padding: 5px;
  height: 25vh;
}

.div_botao_comprar {
  height: 80px;
}

.products_title {
  max-width: 1400px;
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 30px;
}

.filter_container {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 15px;
  text-align: center;
}

.products_title p {
  margin-top: 15px;
}

.card_price {
  color: rgb(34, 34, 34);
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: 1.4rem;
}

.botao_comprar {
  font-size: 1rem;
  border-radius: 7px;
  padding: 10px;
  background-color: var(--amarelo-claro);
  border: none;
  width: 80%;
  cursor: pointer;
  color: var(--preto-claro);
  margin: 8px 0px;
  transition: 0.3s;
}

.botao_comprar:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 5px var(--cinza);
}

@media (max-width: 1400px) {
  div .main {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .quarter {
    float: left;
    width: calc(49.5% - 40px);
  }
}

@media (max-width: 650px) {
  .quarter {
    float: left;
    width: calc(96%);
  }
  .product {
    margin: 10px 10px;
  }
}
